<?xml version="1.0"?>
<!--
/**
 * @author:  MonishTrivedi
 * @package: TrainingMonish_LoginIP
 */

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="trainingmonish_loginip::configuration" title="Mageplaza Security"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="trainingmonish_loginip::security" title="Mageplaza Security">
                        <resource id="trainingmonish_loginip::grid" title="Login Log"/>
                        <resource id="trainingmonish_loginip::checklist" title="Checklist"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
