<?xml version="1.0"?>
<!--
/**
 * @package    TrainingMonish_GridForm
 * @author     monish.trivedi@krishtechnolabs.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="trainingmonish_gridform" frontName="trainingmonish_gridform">
            <module name="TrainingMonish_GridForm" />
        </route>
    </router>
</config>